<section class="mx-auto w-5/6 max-md:w-full" id="achievements">
    <div class="flex items-center flex-col py-48">
       <h1 class="text-center bg-clip-text font-extrabold from-[#d7d7d7] text-transparent to-[#616161] md:text-5xl sm:text-3xl text-4xl bg-gradient-to-tr mb-8 aos-init aos-animate" data-aos="fade-up" data-aos-anchor-placement="center-bottom">Achievements</h1>
       <div class="flex justify-center gap-2 max-md:w-5/6 w-3/4 mt-8">
          <div class="flex flex-col font-semibold gap-y-8 text-primary">
             <div class="flex items-center gap-8 h-full">
                <div class="flex justify-center flex-row bg-opacity-10 bg-primary/10 border-[1px] border-primary/10 px-8 py-4 w-full aos-init aos-animate" data-aos="fade-up">
                   <div class="flex flex-col font-normal max-md:text-sm text-xl">
                      <ul class="list-disc">
                         <li>
                            <ul class="mt-2">
                               <li>Codeforces, <span class="text-indigo-300">Max Rating: 1479</span></li>
                            </ul>
                         </li>
                         <li>
                            <p class="mt-2">Solved <span class="text-indigo-300">2000+ competitive programming</span> problems</p>
                         </li>
                      </ul>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>