---
import { JOURNEY } from "./constants";
---
<section class="mx-auto w-5/6 max-md:w-full mt-48" id="experience">
  <div class="flex items-center flex-col">
     <h1 class="text-center bg-clip-text font-extrabold from-[#d7d7d7] text-transparent to-[#616161] md:text-5xl sm:text-3xl text-4xl bg-gradient-to-tr mb-8 aos-init aos-animate" data-aos="fade-up" data-aos-anchor-placement="center-bottom">Experience</h1>
     <p class="font-semibold text-center text-gray-400 text-lg aos-init aos-animate" data-aos="fade-up" data-aos-anchor-placement="center-bottom">This section tells about my professional journey in tech field</p>
     <div class="flex justify-center gap-2 max-md:w-5/6 w-3/4 mt-16">
        <span class="bg-primary bg-opacity-25 rounded-md w-1"></span>
        <div>
           <div class="flex flex-col font-semibold gap-y-8 text-primary">
              <div class="flex items-center gap-8 h-full">
                 <span class="absolute -ml-[16px] animate-ping bg-sky-400 h-3 inline-flex opacity-75 rounded-full w-3 aos-init aos-animate" data-aos="fade-right"></span>
                 <div class="flex flex-row bg-opacity-10 bg-primary/10 border-[1px] border-primary/10 px-8 py-4 max-md:px-2 aos-init aos-animate" data-aos="fade-up">
                    <svg class="mt-5" id="GFG" xmlns="http://www.w3.org/2000/svg" width="300" height="29.539" viewBox="0 0 70 29.539">
                      <path id="Path_402" data-name="Path 402" d="M193.664,1471.966H169.257a9.748,9.748,0,0,1,17.129-5.146l3.55-3.57a14.77,14.77,0,0,0-25.724,8.716h-.085a14.77,14.77,0,0,0-25.724-8.716l3.55,3.57a9.748,9.748,0,0,1,17.129,5.146H134.674q-.043.565-.044,1.141a14.771,14.771,0,0,0,29.149,3.383h.778a14.769,14.769,0,0,0,29.149-3.383Q193.708,1472.531,193.664,1471.966ZM149.4,1482.855a9.749,9.749,0,0,1-9.151-6.385h18.3A9.75,9.75,0,0,1,149.4,1482.855Zm29.538,0a9.75,9.75,0,0,1-9.152-6.385h18.3A9.75,9.75,0,0,1,178.939,1482.855Z" transform="translate(-134.631 -1458.338)" fill="#2f8d46"/>
                    </svg>
                    <div class="flex flex-col ml-6">
                       <div class="flex flex-row max-md:flex-col max-md:text-base text-2xl">
                          <div class="flex flex-col flex-1">
                             <h1>Software Development Engineer I</h1>
                             <p>At <a class="text-indigo-300" href="https://www.geeksforgeeks.org/">GeeksforGeeks</a></p>
                          </div>
                          <p class="mt-2">From Jan 2024 to Current</p>
                       </div>
                       <span class="bg-primary bg-opacity-25 rounded-md h-0.5 mt-4 w-fill"></span>
                       <ul class="text-xl max-md:text-sm font-light list-disc mt-4">
                          <li class="mb-2">Developed and maintained software applications <span class="text-indigo-300 font-semibold">(GeeksforGeeks)</span> utilizing tech stack including Django, Next.js, React.js, Redis, and CDN, Amazon DynamoDB, Php.</li>
                          <li class="mb-2">Led the <span class="text-indigo-300 font-semibold">migration</span> and architecture of a video streaming service from <span class="text-indigo-300 font-semibold">Amazon Web Services</span> to <span class="text-indigo-300 font-semibold">Google Cloud Platform</span>, utilizing CloudFront CDN to enhance video streaming speeds and developing a custom media conversion service similar to AWS MediaConvert This resulted in a <span class="text-indigo-300 font-semibold">25% reduction</span> in service costs, <span class="text-indigo-300 font-semibold">saving $65,000 annually</span>.</li>
                          <li class="mb-2">Developed and implemented a robust <span class="text-indigo-300 font-semibold">payment verification system</span> supporting multiple payment gateways, ensuring precise transaction processing and validation across all platforms. The system accurately verified that user were charged the correct amount to the different <span class="text-indigo-300 font-semibold">payment gateway</span> used such as <span class="text-indigo-300 font-semibold">GooglePay, Razorpay, PayPal, ApplePay.</span></li>
                          <li class="mb-2">Designed an <span class="text-indigo-300 font-semibold">automated payment refund</span> system that returns 90% of the payment to users upon reaching 90% completion of their purchased course.</li>
                          <li class="mb-2">Led 1 migration & enhancement projects for live classes, <span class="text-indigo-300 font-semibold">streamlining functionality</span> and improving user experience.</li>
                          <li class="mb-2">Led multiple optimization initiatives within the Next.js framework, resulting in an <span class="text-indigo-300 font-semibold">approximate 25% reduction in JavaScript chunk size</span> across multiple pages and Implemented server-side calling of several APIs to enhance application performance and efficiency.</li>
                          <li class="mb-2">Engineered a user progress storage system from inception to deployment using <span class="text-indigo-300 font-semibold">AWS DynamoDB and Redshift</span>, resulting in a 30% decrease in support tickets related to progress tracking.</li>
                          <li class="mb-2">Architected the live class backend infrastructure, integrating <span class="text-indigo-300 font-semibold">Zoom Class API and Webhooks</span> calling functionality and setting up DevOps echo system for video file conversion using Amazon AWS MediaConventor, enabling real-time interaction for 1,00,000 users per week.</li>
                          <li class="mb-2"><span class="text-indigo-300 font-semibold">Orchestrated comprehensive code reviews and led optimization initiatives</span>, achieving approximately a 75% reduction in API responses through optimized queries and Django and Redis caching.</li>
                                                 </ul>
                    </div>
                 </div>
              </div>
              <div class="flex flex-row bg-opacity-10 bg-primary/10 border-[1px] border-primary/10 px-8 py-4 w-full max-md:px-2 aos-init" data-aos="fade-up">
                <svg class="mt-5" version="1.1" xmlns="http://www.w3.org/2000/svg" width="60" height="50">
                  <path d="M0 0 C1.22203125 0.0309375 2.4440625 0.061875 3.703125 0.09375 C6.75 0.5 6.75 0.5 8.75 2.5 C9.0625 5 9.0625 5 8.75 7.5 C5.43629 9.70914 4.4053979 9.72481553 0.5625 9.625 C-0.33855469 9.60695313 -1.23960938 9.58890625 -2.16796875 9.5703125 C-2.85503906 9.54710937 -3.54210938 9.52390625 -4.25 9.5 C-4.22643433 10.33978394 -4.22643433 10.33978394 -4.20239258 11.1965332 C-4.14000152 13.7350859 -4.10099782 16.27347729 -4.0625 18.8125 C-4.03736328 19.69357422 -4.01222656 20.57464844 -3.98632812 21.48242188 C-3.97182617 22.75375977 -3.97182617 22.75375977 -3.95703125 24.05078125 C-3.93346558 25.22120972 -3.93346558 25.22120972 -3.90942383 26.4152832 C-4.33884361 29.04382478 -5.12399459 29.93664014 -7.25 31.5 C-9.875 31.3125 -9.875 31.3125 -12.25 30.5 C-14.17701742 26.64596517 -13.60867373 21.99030966 -13.6875 17.75 C-13.73326172 16.76 -13.77902344 15.77 -13.82617188 14.75 C-13.89894463 10.01660702 -13.92020398 6.4852773 -10.67578125 2.828125 C-7.278097 0.04322032 -4.38075252 -0.186415 0 0 Z " fill="#E17430" transform="translate(32.25,8.5)"/>
                  <path d="M0 0 C0.66 0.66 1.32 1.32 2 2 C1.44444444 6.55555556 1.44444444 6.55555556 0 8 C-1.99958364 8.04080783 -4.00045254 8.04254356 -6 8 C-6 9.32 -6 10.64 -6 12 C-5.01 12 -4.02 12 -3 12 C-2.54625 11.484375 -2.0925 10.96875 -1.625 10.4375 C-1.08875 9.963125 -0.5525 9.48875 0 9 C2.625 9.1875 2.625 9.1875 5 10 C6.49297212 12.98594424 6.11755228 15.70853624 6 19 C5.67 19.66 5.34 20.32 5 21 C-7.89707139 21.86108043 -7.89707139 21.86108043 -11.75 18.625 C-14.36402033 15.57530961 -14.92937114 14.73454016 -15.3125 10.75 C-14.9413702 6.29644235 -13.89685726 4.3666179 -11 1 C-7.12338946 -1.34636954 -4.32237245 -1.15263265 0 0 Z " fill="#9CCE67" transform="translate(44,19)"/>
                  <path d="M0 0 C1.8125 0.875 1.8125 0.875 2.8125 2.875 C3.13385165 6.638882 3.13687846 10.41159322 3.1875 14.1875 C3.22488281 15.23357422 3.26226563 16.27964844 3.30078125 17.35742188 C3.39977155 25.99707554 3.39977155 25.99707554 0.5390625 29.16796875 C-2.1875 30.875 -2.1875 30.875 -4.234375 30.953125 C-6.81508842 29.52857119 -8.47304778 27.82227619 -10.4375 25.625 C-11.14390625 24.85671875 -11.8503125 24.0884375 -12.578125 23.296875 C-14.41807075 20.5280246 -14.61439351 19.13287152 -14.1875 15.875 C-13.1875 14.875 -13.1875 14.875 -10.125 14.8125 C-8.6709375 14.8434375 -8.6709375 14.8434375 -7.1875 14.875 C-7.16171875 14.12734375 -7.1359375 13.3796875 -7.109375 12.609375 C-6.64645153 4.57134026 -6.64645153 4.57134026 -4.375 1.125 C-2.1875 -0.125 -2.1875 -0.125 0 0 Z " fill="#9B67A7" transform="translate(15.1875,9.125)"/>
                  <path d="M0 0 C2 2 2 2 2.3125 4.5 C2.209375 5.325 2.10625 6.15 2 7 C-1.15314785 9.10209857 -1.86103081 9.2434761 -5.44921875 9.1953125 C-6.72055664 9.18564453 -6.72055664 9.18564453 -8.01757812 9.17578125 C-8.89865234 9.15902344 -9.77972656 9.14226563 -10.6875 9.125 C-11.58017578 9.11597656 -12.47285156 9.10695313 -13.39257812 9.09765625 C-15.59532314 9.07409748 -17.79752588 9.04120329 -20 9 C-19.30250717 5.76805302 -18.44631184 3.346693 -16 0.98046875 C-11.24978661 -1.34824914 -5.12844384 -0.61749324 0 0 Z " fill="#E63F7C" transform="translate(39,9)"/>
                  <path d="M0 0 C3.91528229 0.66485926 4.3599812 1.38021284 6.6875 4.4375 C9.3125 8.19326923 9.3125 8.19326923 9.3125 10.5625 C10.6325 10.8925 11.9525 11.2225 13.3125 11.5625 C11.0625 14.125 11.0625 14.125 8.3125 16.5625 C5.43630521 16.43872932 4.33640143 15.58361002 2.171875 13.671875 C1.12773437 12.50398438 1.12773437 12.50398438 0.0625 11.3125 C-0.64390625 10.54421875 -1.3503125 9.7759375 -2.078125 8.984375 C-3.91807075 6.2155246 -4.11439351 4.82037152 -3.6875 1.5625 C-2.6875 0.5625 -2.6875 0.5625 0 0 Z " fill="#66A3D5" transform="translate(4.6875,23.4375)"/>
                  <path d="M0 0 C2.375 0.8125 2.375 0.8125 3.375 2.8125 C3.60833333 9.34583333 3.60833333 9.34583333 2.375 11.8125 C-0.265 11.8125 -2.905 11.8125 -5.625 11.8125 C-5.70631463 10.37594146 -5.76433559 8.9380517 -5.8125 7.5 C-5.84730469 6.69949219 -5.88210937 5.89898437 -5.91796875 5.07421875 C-5.625 2.8125 -5.625 2.8125 -4.27734375 1.0078125 C-2.625 -0.1875 -2.625 -0.1875 0 0 Z " fill="#13A6C9" transform="translate(46.625,28.1875)"/>
                  <path d="M0 0 C0.36248013 7.37042925 0.36248013 7.37042925 -1.1875 10.0625 C-3 11 -3 11 -5.625 10.8125 C-8 10 -8 10 -9 8 C-9.04022391 5.6670134 -9.04320247 3.33293334 -9 1 C-1.125 0 -1.125 0 0 0 Z " fill="#F5BF34" transform="translate(28,29)"/>
                  <path d="M0 0 C0.66 0 1.32 0 2 0 C2.04241723 2.33294775 2.04092937 4.66702567 2 7 C1.67 7.33 1.34 7.66 1 8 C-3.38308384 7.83460061 -5.35765635 7.67528435 -8.4375 4.4375 C-8.953125 3.633125 -9.46875 2.82875 -10 2 C-6.80285048 0.93428349 -4.34084942 1 -1 1 C-0.67 0.67 -0.34 0.34 0 0 Z " fill="#6FBC73" transform="translate(40,32)"/>
                  <path d="M0 0 C1.010625 0.0825 2.02125 0.165 3.0625 0.25 C5.0625 3.25 5.0625 3.25 5.0625 7.25 C-1.08984375 7.34765625 -1.08984375 7.34765625 -2.9375 7.25 C-3.9375 6.25 -3.9375 6.25 -4.0625 3.75 C-3.88174057 0.13481142 -3.65614357 0.31116115 0 0 Z " fill="#9CD1EF" transform="translate(4.9375,23.75)"/>
                  <path d="M0 0 C0.04241723 2.33294775 0.04092937 4.66702567 0 7 C-2.04698414 9.04698414 -6.30411241 8.70045693 -9 9 C-8.44706396 4.02357564 -5.06735917 0 0 0 Z " fill="#E02986" transform="translate(28,9)"/>
                  <path d="M0 0 C2.31 0 4.62 0 7 0 C7.66 1.65 8.32 3.3 9 5 C8 6 8 6 6.15234375 6.09765625 C4.1015625 6.06510417 2.05078125 6.03255208 0 6 C0 4.02 0 2.04 0 0 Z " fill="#EC9330" transform="translate(19,24)"/>
                  <path d="M0 0 C4.875 0.875 4.875 0.875 6 2 C6.04063832 3.66617115 6.042721 5.33388095 6 7 C4.125 8.0625 4.125 8.0625 2 9 C1.34 8.67 0.68 8.34 0 8 C0 5.36 0 2.72 0 0 Z " fill="#EC5E5F" transform="translate(35,9)"/>
                  <path d="M0 0 C-2.25 2.5625 -2.25 2.5625 -5 5 C-7.125 5.0625 -7.125 5.0625 -9 4 C-10.75 1.9375 -10.75 1.9375 -12 0 C-3.42857143 -1.28571429 -3.42857143 -1.28571429 0 0 Z " fill="#5EA1D5" transform="translate(18,35)"/>
                  <path d="M0 0 C0.5625 1.9375 0.5625 1.9375 1 4 C0 5 0 5 -3.5625 5.0625 C-4.696875 5.041875 -5.83125 5.02125 -7 5 C-7.33 3.68 -7.66 2.36 -8 1 C-5.36 0.67 -2.72 0.34 0 0 Z " fill="#F2AA32" transform="translate(27,29)"/>
                  <path d="M0 0 C0.66 0 1.32 0 2 0 C2 2.64 2 5.28 2 8 C2.66 8.33 3.32 8.66 4 9 C2.02 9 0.04 9 -2 9 C-1.125 1.125 -1.125 1.125 0 0 Z " fill="#E95070" transform="translate(33,9)"/>
                  <path d="M0 0 C0.33 0 0.66 0 1 0 C1 1.65 1 3.3 1 5 C2.98 5 4.96 5 7 5 C7 5.99 7 6.98 7 8 C4.36 8 1.72 8 -1 8 C-0.67 5.36 -0.34 2.72 0 0 Z " fill="#18899F" transform="translate(42,32)"/>
                  <path d="M0 0 C0.33 1.32 0.66 2.64 1 4 C-1.64 4 -4.28 4 -7 4 C-7.33 3.01 -7.66 2.02 -8 1 C-5.36 0.67 -2.72 0.34 0 0 Z " fill="#88BFE6" transform="translate(9,27)"/>
                  <path d="M0 0 C0.33 0 0.66 0 1 0 C1 2.31 1 4.62 1 7 C-1.31 6.67 -3.62 6.34 -6 6 C-6 5.01 -6 4.02 -6 3 C-5.195625 2.87625 -4.39125 2.7525 -3.5625 2.625 C-2.716875 2.41875 -1.87125 2.2125 -1 2 C-0.67 1.34 -0.34 0.68 0 0 Z " fill="#1998B8" transform="translate(49,31)"/>
                  <path d="M0 0 C0.99 0.66 1.98 1.32 3 2 C3 2.66 3 3.32 3 4 C-3.0546875 4.1953125 -3.0546875 4.1953125 -5 4 C-5.66 3.34 -6.32 2.68 -7 2 C-4.69 2 -2.38 2 0 2 C0 1.34 0 0.68 0 0 Z " fill="#77AEDC" transform="translate(10,29)"/>
                  <path d="M0 0 C-0.33 1.32 -0.66 2.64 -1 4 C-2.9375 3.625 -2.9375 3.625 -5 3 C-5.33 2.34 -5.66 1.68 -6 1 C-4 0 -4 0 0 0 Z " fill="#5497CF" transform="translate(14,36)"/>
                  <path d="M0 0 C0.66 0.33 1.32 0.66 2 1 C2 2.65 2 4.3 2 6 C1.01 6.33 0.02 6.66 -1 7 C-0.67 4.69 -0.34 2.38 0 0 Z " fill="#F06950" transform="translate(39,10)"/>
                  </svg>
                 <div class="flex flex-col ml-6 w-full">
                    <div class="flex flex-row max-md:flex-col max-md:text-base text-2xl">
                       <div class="flex flex-col flex-1">
                          <h1>Software Developer</h1>
                          <p>At <a class="text-indigo-300" href="https://qbtrix.com/">Josh Technology Group</a></p>
                       </div>
                       <p class="mt-2">From Jan 2023 to December 2023</p>
                    </div>
                    <span class="bg-primary bg-opacity-25 rounded-md h-0.5 mt-4 w-fill"></span>
                    <ul class="text-xl max-md:text-sm font-light list-disc mt-4">
                       <li class="mb-2">Collaborated and managed <span class="text-indigo-300 font-semibold">(Pod.ai)</span> software applications using Django, Angular.js, React.js, Elasticsearch; enhanced code quality and security measures, boosting system efficiency and reducing vulnerabilities.</li>
                       <li class="mb-2">Design an Apache Superset Dashboard for real-time exploration and <span class="text-indigo-300 font-semibold">visualization of production data metrics</span>.</li>
                       <li class="mb-2"><span class="text-indigo-300 font-semibold">Build an automated pipeline</span> from scratch to generate a question bank by scraping data from various websites and validating it using a machine learning model. Achieved a capacity of generating 1000 questions per week.</li>
                       <li class="mb-2">Established high-performance data storage and retrieval systems using Elasticsearch, <span class="text-indigo-300 font-semibold">slashing load times from 3000 ms to 178 ms</span> and achieving a refresh rate improvement of over 94%. Implemented a Microservice with Elasticsearch to
                        update index data, and <span class="text-indigo-300 font-semibold">enhancing operational efficiency by 96%</span>.</li>
                       <li class="mb-2">Demonstrated deep expertise in <span class="text-indigo-300 font-semibold">JavaScript and DOM manipulation</span>; created abstracted UI components that improved user experience scores by 30% and reduced bug reports by 20%.</li>
                    </ul>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
</section>